<?xml version="1.0" encoding="utf-8"?>
<configuration>
  
  <!--DB Config-->
  <connectionStrings>
    <add name="Lks" providerName="System.Data.SqlClient" connectionString="server=119.23.203.178,10086;uid=kaifa;password=(jKIKs5KaisV@1#Pv8eQI%K*X@3M#LIn#Skv%Q);database=Lks;TimeOut=60" />
  </connectionStrings>
  
  <!--WeChat Config-->
  <appSettings>
    <add key="OpenAppId" value="wx888642a4458004a1"/>
    <add key="OpenAppSecret" value="c4d1f9f3906223bb367ec9ed892a872a"/>
    <add key="globalToken" value="eBe4ehzJZof2JyTw"/>
    <add key="EncodingAESKey" value="Bp64TxDszv14rFIg1JyaP8UgeM8rzaBEEJSoXlfvgLz"/>
  </appSettings>
</configuration>