<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="quartz" type="System.Configuration.NameValueSectionHandler" />
  </configSections>

  <!-- DB Config -->
  <connectionStrings>
    <add name="Lks" providerName="System.Data.SqlClient" connectionString="server=119.23.203.178,10086;uid=kaifa;password=(jKIKs5KaisV@1#Pv8eQI%K*X@3M#LIn#Skv%Q);database=Lks;TimeOut=60" />
  </connectionStrings>
  
  <!-- Self Config -->
  <appSettings configSource="appSetting.config" />
  
  <quartz>
    <add key="quartz.threadPool.type" value="Quartz.Simpl.SimpleThreadPool, Quartz" />
    <add key="quartz.threadPool.threadCount" value="10" />
    <add key="quartz.threadPool.threadPriority" value="Normal" />

    <!--**************Quartz Plugin Config******************-->
    <add key="quartz.plugin.xml.type" value="Quartz.Plugin.Xml.XMLSchedulingDataProcessorPlugin, Quartz" />
    <add key="quartz.plugin.xml.fileNames" value="~/quartz_jobs.xml" />
  </quartz>
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
</configuration>