<?xml version="1.0" encoding="utf-8"?>
<appSettings>
  <!--Common-->
  <add key="webpages:Version" value="3.0.0.0"/>
  <add key="webpages:Enabled" value="false"/>
  <add key="ClientValidationEnabled" value="true"/>
  <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
	
	<!--WeChat Config-->
	<add key="OpenAppId" value="wx888642a4458004a1"/>
	<add key="OpenAppSecret" value="c4d1f9f3906223bb367ec9ed892a872a"/>
	<add key="globalToken" value="eBe4ehzJZof2JyTw"/>
	<add key="EncodingAESKey" value="Bp64TxDszv14rFIg1JyaP8UgeM8rzaBEEJSoXlfvgLz"/>
	
</appSettings>